@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 19, 15, 24;
  --color: 255, 255, 255;
}

.codeEditor::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.codeEditor::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 20px;
}
.codeEditor::-webkit-scrollbar-track {
  margin: 5px;
}

.codeEditor::-webkit-scrollbar-corner {
  display: none;
}
.codeEditor::-webkit-scrollbar-button {
  display: none;
}
