@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-color;
  }
  :root {
    --background: 19, 15, 24;
    --color: 255, 255, 255;
    --red: 153, 27, 27;
    --purple: 147, 51, 234;
  }
}

.scrollContainer::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 20px;
}
.scrollContainer::-webkit-scrollbar-track {
  margin: 5px;
}

.scrollContainer::-webkit-scrollbar-corner {
  display: none;
}
.scrollContainer::-webkit-scrollbar-button {
  display: none;
}

.ReactCrop__child-wrapper {
  border-radius: 8px;
}
.ReactCrop__crop-selection::selection {
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .transform-md {
    transform: translateX(calc(35px - 70px * var(--random-x)))
      translateY(calc(30px - 60px * var(--random-y)));
  }
}
